@model Control_inventario.Models.Product

@{
    ViewBag.Title = "Details";
}
<div class="masthead padspace"> 
<h2 class="display-4">Detalles</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
       

        <dd>
            @Html.DisplayFor(model => model.Supplier.SupplierCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("Edit", "Products", new { id = Model.Id })" class=" text-white btn btn-warning">Editar</a>
        <a href="@Url.Action("Index", "Products")" class=" text-white btn  btn-danger" style="margin-left:20px;">Regresar</a>
    </div>
</div>
    </div>