@model IEnumerable<Control_inventario.Models.Product>

@{
    ViewBag.Title = "ProductBySupplier";
}

<h2>ProductBySupplier</h2>

<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.ProductCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.ProductCode)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProductName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Quantity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        <a href="@Url.Action("Edit", "Products", new { id = item.Id })" class="text-warning"><i class="fas fa-edit"></i> </a> |
        <a href="@Url.Action("Details", "Products", new { id = item.Id })" class="text-info"><i class="fas fa-info-circle"></i></a> |
        <a href="@Url.Action("Delete", "Products", new { id = item.Id })" class="text-danger"><i class="fas fa-trash-alt"></i></a>
    
    </td>
</tr>
}

</table>
